body {
    margin: 0;
}
.header {
    background-color: #4e69a2;
}
.search-bar{
    width: 300px;
}
.social-icons{
    padding: 0 15px;
}
.social-icon{
    color: white;
    margin: 5px;
}
.search-wrapper{
    height: 50px;
}
.facebook-logo{
    font-size: 34px;
    font-weight: bold;
    color: white;
}
.menu{
    display: flex;
    width: 30%;
    align-items: flex-end;
}
.navbar {
    height: 100%;
}

.nav-item {
    padding: 0 10px;
}

.nav-link-custom {
    color: white !important;
}

.user-details{
    display: flex;
    align-items: center;
}
.name a{
    text-decoration: none;
}
.user-link {
    list-style-type: none;
}
.user-link i{
    width: 30px;
}
.search-bar-friends{
    border-radius: 20px;
}
.news-title i {
    font-size: 30px;
}
.news-title h1{
    @media screen and (max-width: 719px){
        font-size: 20px;
    }
    
}
.top-news h4 {
    @media screen and (max-width: 719px){
        font-size: 18px;
    }
}
.most-recent h4 {
    @media screen and (max-width: 719px){
        font-size: 18px;
    }
}
.like, .comment {
    background-color: cornflowerblue;
    color: white;
}
.events-all{
    background-color: lightgrey;
}
.user-known {
    display: flex;
    align-items: center;
}
.people-u-may-know {
    margin: 0px 10px 0px 10px;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler-custom {
    position: absolute;
    z-index: 1000;
    top: -90px;
    right: 0px;
}
.navbar-toggler-custom i{
    color: white;
    font-size: 24px;
}